discord.py==2.5.0
docker==7.1.0
python-dotenv==1.1.1
colorama==0.4.6
psutil==7.0.0
matplotlib==3.10.0
aiohttp==3.11.12
aiomysql==0.2.2
aiosqlite==0.21.0
cryptography==45.0.4
pillow==11.2.1
typing-extensions==4.13.2
requests==2.32.3
croniter==6.0.0
aiofiles==25.1.0